body {
    position: relative;
}

#autorotateToggle {
    display: none;
}

#titleBar {
    display: none;
}

#sceneListToggle {
    display: none;
}

#fullscreenToggle {
    background: none;
    position: absolute;
    top: 93%;
    right: 1%;
}

.scenes {
    display: none;
}

.allbutton {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 48%;
    width: 80px;
    height: 40px;
}

.button {
    font-size: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../img/sunny.svg") no-repeat;
    background-position: 50px 10px;
    background-size: 19px;
    background-color: rgba(0, 0, 0, 0.235);
    color: #000;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.button:before,
.nextbutton.on:before {
    display: block;
    position: relative;
    content: "";
    height: 34px;
    width: 34px;
    left: 4px;
    bottom: 0;
    top: 3px;
    background-color: #ffff;
    -webkit-transition: 0.6s;
    transition: all 0.6s;
    -webkit-transition-delay: 0.01s;
    transition-delay: 0.01s;
    border-radius: 50%;
}

.button:after {
    display: block;
    position: absolute;
    left: 10px;
    top: 15px;
}

.nextbutton:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

.button.on:after {
    position: absolute;
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 56px;
    top: 15px;
}

.nextbutton {
    background: url("../img/moon.svg") no-repeat center;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.235);
    border: none;
    background-position: 13px 11px;
    background-size: 18px;
}

.logo {
    position: absolute;
    top: 93%;
    left: 2%;
}

.btn {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 158px;
    height: 38px;
}

.btn_call {
    color: #ffffff;
}

.logo_svg {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0 auto;
    top: 85%;
    left: 47%;
}

.logo_svg svg {
    animation-name: rotation;
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.text {
    fill: #fff;
    text-transform: uppercase;
}

.logo_img {
    height: 37px;
    margin-left: 22px;
    transform: translateX(-248%);
    margin-top: 0;
}

.type_1,
.type_2 {
    position: absolute;
    top: 89%;
    left: 40%;
    width: 90px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}

.type_1 img,
.type_2 img {
    height: 50px;
}

.type_1 span,
.type_2 span {
    display: block;
    padding-top: 5px;
}

.type_2 {
    left: 55.5%;
}

.back_btn,
.call_btn, .call_btn-sm {
    position: absolute;
    top: 40px;
    left: 88%;
    width: 167px;
    height: 38px;
    border: none;
    background: rgba(0,0,0,0.23);
    border-radius: 19px;
    cursor: pointer;
    z-index: 1;
}

.call_btn-sm {
    display: none;
}

.back_btn span,
.call_btn span {
    position: relative;
    top: -10px;
    font-size: 12px;
    margin: 12px;
    color: #fff;
    font-weight: 550;
}

.back_btn img,
.call_btn img {
    position: relative;
    top: 1px;
    width: 30px;
    height: 30px;
    display: inline;
}

.back_btn {
    left: 1.8%;
}

.back_btn img {
    margin-left: -10px;
}

.back_btn span {
    margin: 0 0 0 9px;
}

.overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.598);
    z-index: 99999;

}

.modal_content {
    padding: 34px 55px 0;
}
.modal {
    position: absolute;
    width: 500px;
    min-height: 601px;
    background: #fff;
    border-radius: 19PX;
    top: 10%;
    left: 35%;
}

.modal_x {
    position: absolute;
    top: -10px;
    right: 55px;
    content: "\274c";
    font-size: 15px;
    color: black;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
}
.modal_close {
    transform: translate(390px, 0);
    height: 15px;
    cursor: pointer;
    position: relative;
    top: 35px;
    left: 50px;
}

.modal_subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.53;
    color: #01392a;
}

.modal_descr {
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #788179;
    font-style: normal;
}

.ui-form {
    max-width: 400px;
    padding: 80px 30px 30px;
    margin: 0 auto;
    background: white;
}

.material {
    display: table;
    width: 250px;
    position: relative;
    margin-bottom: 24px;
}
.material input {
    font-size: 24px;
    padding: 10px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 20px;
}
.material .borda {
    border: 1px solid #cecece;
    border-radius: 20px;
    position: absolute;
    width: 337px;
    height: 100%;
    top: -1px;
    pointer-events: none;
}
.material label {
    color: #888888;
    font-size: 22px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 12px;
    transition: 0.2s all;
}

.material input:focus {
    outline: none;
}

.material input:focus~label,
.material input:valid~label {
    top: -8px;
    font-size: 12px;
    color: #007a5a;
    background: #fff;
    padding: 0 5px;
}

.material input:focus~.borda {
    border: 3px solid #007a5a;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 0;
    pointer-events: none;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
}

.ui-form p {
    margin: 0;
    padding-top: 10px;
}
.ui-form input[type="submit"] {
    height: 72px;
    width: 100%;
    cursor: pointer;
    padding: 0;
    line-height: 42px;
    background: #217054;
    border-width: 0;
    color: white;
    font-size: 20px;
    border-radius: 41px;
}


@media (max-width: 1200px) {
    #fullScreenToggle {
        top: 91%;
    }

    .call_btn {
        left: 82%;
    }
    
    .logo {
        top: 91%;
    }

    .type_2 {
        left: 56.5%;
    }

    .modal {
        left: 30%;
    }
}

@media (max-width: 992px) {
    #fullScreenToggle {
        top: 88%;
    }

    .call_btn {
        left: 78%;
    }

    .type_1 {
        left: 38%;
    }

    .type_2 {
        left: 58.5%;
    }

    .logo_svg svg {
        width: 30%;
    }

    .logo svg text {
        font-size: 3.9px;
    }

    .logo_img {
        margin-left: 25px;
    }

    .modal {
        left: 28%;
    }
    
}

@media (max-width: 768px) {
    .call_btn {
        left: 72%;
    }

    .type_1 {
        left: 34%;
    }

    .type_2 {
        left: 60%;
    }

    .logo_img {
        height: 32px;
    }

    .logo_svg svg {
        width: 85px;
        height: 85px;
    }

    .modal {
        left: 14%;
    }
   
}

@media (max-width: 576px) {
    .call_btn, .back_btn span {
        display: none;
    }

    .back_btn, .call_btn-sm {
        width: 41px;
    }

    .call_btn-sm {
        left: 90%;
    }

    .back_btn img {
        margin-left: 0;
    }

    .logo {
        display: none;
    }

    .type_1 {
        left: 15%;
    }

    .type_2 {
        left: 60%;
    }

    .logo_svg {
        left: 38%;
    }

    .call_btn-sm {
        display: block;
        position: absolute;
    }
    
}

@media (max-width: 420px) {
    .type_1 {
        left: 10%;
    }

    .type_2 {
        left: 60%;
    }

    .logo_svg {
        left: 35%;
    }

    .call_btn {
        left: 88%;
    }

}